<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4">
            <app-create [id_editar]="edit_id"></app-create>
        </div>
        <div class="clearfix"></div>
        <div class="col-lg-8">
            <div class="card">
                <div class="card-header">
                    Usuarios
                </div>
                <div class="card-body">
                    <span *ngIf="(items | async)?.length === 0">No hay datos para mostrar</span>
                    <table class="table" *ngIf="(items | async)?.length !== 0">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nombre</th>
                            <th>Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let item of (items | async);">
                            <td>{{ item.data.id }}</td>
                            <td>{{ item.data.name }}</td>
                            <td>
                                <button href="#" (click)="editar(item.key,item.data.id,item.data.name);">Editar</button>
                                <button href="#" (click)="delete(item.key);">Eliminar</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>